# Hausaufgaben Einstieg in Python - Lektion 2

1.Kreiere eine Liste aus Zahlen, die aus 10 Elementen besteht, und ordne sie der Variabel a zu.

In [1]:
a=[1,2,3,4,5,6,7,8,9,10]

2.Mache dasselbe mit einer Liste aus 100 Elementen und ordne sie der Variabel b zu.

In [2]:
b=list(range(0,100))

3.Füge beiden Listen folgenden String an: 'ich bin keine Zahl'

In [3]:
a.append("ich bin keine Zahl")

In [4]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'ich bin keine Zahl']

In [5]:
b.append("ich bin keine Zahl")

In [6]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 'ich bin keine Zahl']

4.Lösche diesen letzten Eintrag in der Liste wieder

In [7]:
a.remove("ich bin keine Zahl")
b.remove("ich bin keine Zahl")

In [8]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

5.Verwandle jede Zahl in den Listen a und b von int in str?

In [10]:
str(a)
str(b)

'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]'

6.Von der list b, zeige nur die letzten zehn Nummern an

In [11]:
b[-10:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

7.Von der folgenden Liste, zeige den zweit grössten Wert an

In [12]:
b.sort()

In [13]:
sorted(b)[-2]

98

8.Multipliziere jede Nummer in dieser Liste, die kleiner ist als 100, mit 100; wenn die Nummern zwischen 100 und 1000 verwandle sie in eine String, und wenn sie grösser oder gleich 1000 ist, lösche sie.

9.Schreibe eine Dictionary-Liste der fünf grössten Schweizer Städte, ihrer Bevölkerung und dem jeweiligen Kanton.

In [14]:
stdt_lst=[{"STadt":"Genf", "Groesse": 400},
       {"STadt":"Luzern", "Groesse": 500},{"STadt":"Zürich", "Groesse": 300},{"STadt":"Bern", "Groesse": 700},{"STadt":"Zug", "Groesse": 450}]

10.Zeige nur die Bevölkerung der Stadt Genf an

In [15]:
stdt_lst[0]["Groesse"]

400

11.Drucke (print) das Total der Bevölkerungen aller Städte aus

In [17]:
total=0
for city in stdt_lst:
    total=total+city ["Groesse"]

In [18]:
print(total)

2350

In [ ]:
CH=100000

12.Rechne den Anteil der Bevölkerung der jeweiligen Städte an der Gesamtbevölkerung der Schweiz aus und "print" die Ergebnisse neben dem Städtenamen

In [19]:

def percentage (["Groesse"],CH)
return 100*["Groesse"]/CH

SyntaxError: invalid syntax (<ipython-input-19-887f391ac969>, line 1)

In [21]:
stdt_lst.insert({"STadt":"Winterthur", "Groesse": 200})

TypeError: insert() takes exactly 2 arguments (1 given)

In [ ]:
stdt_lst[1]["Grösse", "STadt"]

13.Füge noch die Städte Winterthur und Luzern hinzu

In [23]:
stdt_lst.update([ {"STadt":"Winterthur", "Groesse" : 23} ])

AttributeError: 'list' object has no attribute 'update'

14.Ergänze die Städte-Dictionary-Liste mit Winterthur und Luzern

15.Wiederhole den loop von oben, um den Anteil der Bevölkerung an der Gesamtbevölkerung auszurechnen, dieses Mal mit Winterthur und Luzern