Haaallloo

# Titel
## Titel
1.Aufzählug
*Kursif*
**Fett*

dd

Da steht Text

# Titel

In [1]:
print ("hello world")

hello world

In [2]:
Alter=input ("wie alt bist du?")

wie alt bist du?56

In [3]:
Alter

'56'

In [4]:
str(44
)

'44'

In [5]:
int(Alter)

56

In [6]:
type(Alter)

str

In [7]:
float(Alter)

56.0

In [8]:
4+5

9

In [9]:
4**4

256

In [10]:
4%8

4

In [11]:
#dies ist ein Text zum erklären was ich gemacht habe
[1,2,"huhuhu","ha","und,so"]

[1, 2, 'huhuhu', 'ha', 'und,so']

In [12]:
type([1,2,"huhuhu","ha","und,so"])

list

In [13]:
a=[1,2,"huhuhu","ha","und,so"]

In [14]:
a[2:4]

['huhuhu', 'ha']

In [15]:
a.pop()

'und,so'

In [16]:
a.append(a[2])

In [17]:
a

[1, 2, 'huhuhu', 'ha', 'huhuhu']

In [18]:
a.remove ("huhuhu")

In [19]:
a

[1, 2, 'ha', 'huhuhu']

In [20]:
a.insert(1,"huhuhu")

In [21]:
a

[1, 'huhuhu', 2, 'ha', 'huhuhu']

In [22]:
miniliste=list(range(0,99))

In [23]:
miniliste

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [24]:
len(a)

5

In [25]:
len(miniliste)

99

In [26]:
a.remove("huhuhu")

a.remove("huhuhu")

In [27]:
a.remove("ha")

In [28]:
a

[1, 2, 'huhuhu']

In [29]:
a.remove("huhuhu")

In [30]:
a

[1, 2]

In [31]:
a.sort()

In [32]:
a

[1, 2]

In [33]:
a=[3,2,5,4,7,6]

In [34]:
a.sort(reverse=True)

In [35]:
a

[7, 6, 5, 4, 3, 2]

Dictionaries

In [36]:
{"Animals": "Dog", "Size":20}

{'Animals': 'Dog', 'Size': 20}

Auslesen von "Dog":

In [37]:
dic_lst=[{"Animals": "Dog", "Size":20},{"Animals": "Dog", "Size":20},{"Animals": "Dog", "Size":20}]

In [38]:
dic_lst[0]["Animals"]

'Dog'

Loop bauen, alle Zahlen in der Liste in Strings umwandeln

In [39]:
lst=list(range(100))

In [40]:
zahl=lst[0]

In [41]:
str(zahl)

'0'

In [45]:
newlst=[]
for zahl in lst:
    newlst.append(str(zahl))
    #Für alle Zahlen in der Liste (lst) muss er in der neuen Liste (newlst) eine Zahl als String umgewandelt hinten anfügen (append).

In [44]:
newlst

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']