In [1]:
import pandas as pd

In [20]:
dftest=pd.DataFrame({"Wirk":["ws1","ws1, wr","wr2,wr3", "wr3"],"Datum":["NaN","NaN","NaN","NaN"]})

In [21]:
dftest

      Wirk Datum
0      ws1   NaN
1  ws1, wr   NaN
2  wr2,wr3   NaN
3      wr3   NaN

In [24]:
def splitting(elem):
    elem=elem.split(",")
    return elem

In [34]:
dftest["Wirk"]= dftest["Wirk"].apply(splitting)

In [38]:
dft=dftest.explode("Wirk")
dft

  Wirk Datum
0  ws1   NaN
1  ws1   NaN
1   wr   NaN
2  wr2   NaN
2  wr3   NaN
3  wr3   NaN

In [46]:
dfs=dftest

In [44]:
dft.drop_duplicates(subset=['Wirk', 'Datum'])

  Wirk Datum
0  ws1   NaN
1   wr   NaN
2  wr2   NaN
2  wr3   NaN

In [55]:
dfs

0  Wirk          [ws1]
   Datum           NaN
1  Wirk     [ws1,  wr]
   Datum           NaN
2  Wirk     [wr2, wr3]
   Datum           NaN
3  Wirk          [wr3]
   Datum           NaN
dtype: object